.layout2 {
    min-height: 100vh;
  
    display: flex;

    flex-direction: column;
  }
  
  .section2 {
    min-height: 100vh; 
    
    position: relative;
    transition: margin-left 0.5s ease;
  
    margin-top: 70px;
    
    flex-grow: 1; 
    z-index: 2; 
    background-color: white;
  }
  
  

  .section2-mobile{
    min-height: 100vh; 
  
    margin-top: 70px;
    position: relative;
   
    flex-grow: 1; 
    z-index: 2; 
    background-color: white;
  }