.login {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid #0000a0;
  border-radius: 8%;
  border-style: double;

  &__component {
    position: relative;
    width: 250px;
    height: 270px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    padding-bottom: 55px;
    font-size: 1.3em;

    &__img {
      background-image: url(/src/assets/images/logo.svg);
      background-size: cover;
      background-position: center;
      height: 140px;
      width: 140px;
      text-align: center;
      padding: 0;
      position: relative;
      top: -33px;
      left: +50px;
      display: block;
      margin-bottom: -37px; // Space between the image and the text fields
    }

    &__username-field {
      position: relative;

      &__icon {
        position: absolute;
        left: 7px;
        top: 50%;
        transform: translateY(-55%);
        color: #4366ff;
        pointer-events: none; // Prevent the icon from interfering with clicking on the input
      }
      &__icon-active {
        color: #ffffff; // This is the color for when there is input in the fields
      }

      &__input {
        opacity: 1;
        display: block;
        border: none;
        outline: none;
        width: 100%;
        padding: 10px 13px 10px 34px;
        margin: 10px 0 0 0;
        font-size: 0.8em;
        border-radius: 150px;
        background: #3c3c3c;
        color: #ffffff;
        box-sizing: border-box;
      }

      &__input::placeholder {
        color: #4366ff;
      }
    }

    &__password-field {
      position: relative;

      &__icon {
        position: absolute;
        left: 7px;
        top: 50%;
        transform: translateY(-60%);
        color: #4366ff;
        pointer-events: none; // Prevent the icon from interfering with clicking on the input
      }

      &__icon-active {
        color: #ffffff; // This is the color for when there is input in the fields
      }

      &__input {
        opacity: 1;
        display: block;
        border: none;
        outline: none;
        width: 100%;
        padding: 10px 13px 10px 34px;
        margin: 10px 0 0 0;
        font-size: 0.8em;
        border-radius: 150px;
        background: #3c3c3c;
        color: #ffffff;
        box-sizing: border-box;
      }

      &__input::placeholder {
        color: #4366ff;
      }
    }

    &__error {
      opacity: 1;
      display: block;
      border: none;
      outline: none;
      width: 100%;
      padding: 10px 13px 10px 34px;
      margin: 10px 0 0 0;
      font-size: 0.8em;
      border-radius: 150px;
      color: #ffffff;
      box-sizing: border-box;
      background: rgb(
        130,
        0,
        0
      ) !important; //! This makes color of fields red when there is an error
    }

    &__error::placeholder {
      color: #4366ff;
    }

    &__forgot-password {
      display: block;
      color: #0000ee;
      font-size: 0.7em;
      text-align: right;
      margin-top: 12px;
      text-decoration: none;
      cursor: pointer;
    }

    &__forgot-password:hover {
      text-decoration: underline;
    }

    &__forgot-password:active {
      color: #3c3c3c;
    }

    &__error-message {
      position: relative;
      color: red; // or any color you want for the error message
      font-size: 0.7em; // adjust size as needed
      margin-top: 10px; // space between the error message and the input fields
      text-align: center; // center the error message
      left: -10%;
      width: 120%;
    }

    &__submit {
      position: absolute;
      bottom: 8px;
      left: 42px;
      width: 75%;
      padding: 16px !important;
      margin: 38px 0 0 0;
      border-radius: 30px;
      font-weight: 600;
      background: linear-gradient(
        144deg,
        #000000,
        #0000a0 50%,
        #000000
      );
      color: #fff;
      border: 3px solid #000000;
    }

    &__submit:hover {
      background: linear-gradient(
        144deg,
        #000000,
        #0000da 50%,
        #000000
      );
      cursor: pointer;
      transition: all 0.4s ease;
    }

    //! This media query overrides all previous configurations for the specified button. So if I use it after the :active clause down below or any other configurations it will disable it on touchscreen devices.
    @media (pointer: coarse) {
      &__submit:hover {
        // Keep the styles same as the normal state to effectively "disable" the hover effect
        background: linear-gradient(
          144deg,
          #000000,
          #0000a0 50%,
          #000000
        );
      }
    }

    &__submit:active {
      background: linear-gradient(
        164deg,
        #000000,
        #0000da 50%,
        #000000
      );
      transition: all 0.4s ease;
    }
  }
}
