.component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .login {
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  padding-bottom: 55px;
  font-size: 1.3em;

  .img {
    background-image: url(src/assets/images/logo.ico);
    background-size: cover;
    background-position: center;
    height: 110px;
    width: 110px;
    text-align: center;
    padding: 0;
    position: relative;
    top: -35px;
    left: +70px;
    display: block;
    margin-bottom: -20px; // Adjust this value as needed to control the space between the image and the text fields
    font-size: 1.3em;
  }

  input[type="text"],
  input[type="password"] {
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 17px;
    margin: 10px 0 0 0;
    font-size: 0.8em;
    border-radius: 150px;
    background: #3c3c3c;
    color: #ffffff;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }

  input[type="text"]::placeholder, 
  input[type="password"]::placeholder {
    color: rgb(110, 121, 187); 
  }

  input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   }

  input[type="submit"] {
    width: 100%;
    padding: 16px !important;
    margin: 56px 0 0 0;
    border-radius: 30px;
    font-weight: 600;
    background: linear-gradient(144deg, #000000, rgb(88, 71, 197) 50%, #000000);
    color: #fff;
    border: 3px solid #000000;
  }
  
  input[type="submit"]:hover {
    background: linear-gradient(144deg, #000000, rgb(114, 93, 255) 50%, #000000);
    cursor: pointer;
    transition: all 0.4s ease;
  }

  input[type="submit"]:active{
    background: linear-gradient(164deg, #000000, rgb(114, 93, 255) 50%, #000000);
    transition: all 0.4s ease;
  }
  
  }

}