.component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 7px solid rgb(56, 69, 146); 
  border-radius: 8%;
  border-style: double;

  .login {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  padding-bottom: 55px;
  font-size: 1.3em;

  .img {
    background-image: url(/src/assets/images/logo.ico);
    background-size: cover;
    background-position: center;
    height: 110px;
    width: 110px;
    text-align: center;
    padding: 0;
    position: relative;
    top: -35px;
    left: +70px;
    display: block;
    margin-bottom: -35px; // Space between the image and the text fields
  }

  .username-field{
    position: relative; 

  .username-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-55%);
    color: rgb(110, 121, 187);
    pointer-events: none; // Prevent the icon from interfering with clicking on the input
  }
  }

  .password-field{
    position: relative;

  .password-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-60%);
    color: rgb(110, 121, 187);
    pointer-events: none; // Prevent the icon from interfering with clicking on the input
  }
  }

  .username-icon.active,
  .password-icon.active {
  color: #ffffff; // This is the color for when there is input in the fields
  }
  

  input[type="text"],
  input[type="password"] {
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 31px;
    margin: 10px 0 0 0;
    font-size: 0.8em;
    border-radius: 150px;
    background: #3c3c3c;
    color: #ffffff;
    box-sizing: border-box; 
  }

  input[type="text"]::placeholder, 
  input[type="password"]::placeholder {
    color: rgb(110, 121, 187); 
  }

  input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   }

   .forgot-password {
    display: block; 
    color: #0000EE; 
    font-size: 0.7em; 
    text-align: right; 
    margin-top: 12px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }

  .forgot-password:active{
    color:#3c3c3c;
  }

  input[type="submit"] {
    position: absolute;
    bottom: 12px;
    left: 42px;
    width: 75%;
    padding: 16px !important;
    margin: 38px 0 0 0;
    border-radius: 30px;
    font-weight: 600;
    background: linear-gradient(144deg, #000000, rgb(88, 71, 197) 50%, #000000);
    color: #fff;
    border: 3px solid #000000;
  }
  
  input[type="submit"]:hover {
    background: linear-gradient(144deg, #000000, rgb(114, 93, 255) 50%, #000000);
    cursor: pointer;
    transition: all 0.4s ease;
  }

  input[type="submit"]:active{
    background: linear-gradient(164deg, #000000, rgb(114, 93, 255) 50%, #000000);
    transition: all 0.4s ease;
  }
  
  }

}