.account_component {
  display: flex;
  flex-direction: column;
  align-items: center; // This will center the child elements horizontally
  //justify-content: center; // This will center the child elements vertically (if you want that)
  width: 450px;
  height: 495px;
  background-color: white;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.8);
  border: 4px solid #009f58;
  background-color: #ffffff;

  &__title {
    position: relative;
    top: 15px;
    font-size: 24px;
    color: #006e3d;
  }

  &__box {
    position: relative;
    top: 25px;
    width: 50%;
    // &__text-field_container {
    //   //? MIGHT BE NEEDLESS AND DELETED IF WORKS WITHOUT IT
    //   //width: 20%; // Or any fixed width
    //   //position:relative;
    //   //right: 50px;
    //   //margin-bottom: 100px; // Space between TextFields
    // }
  }

  &__error-message {
    position: relative;
    text-align: center;
    color: red;
    top: 30px;
    width: 100%;
    height: 3%;
  }

  &__buttons-container {
    display: flex;
    //justify-content: space-evenly;
    align-items: center; // This centers the buttons vertically in the container
    position: relative;
    top: 40px;
    width: 100%;
    height: 12%;
    background-color: rgb(255, 255, 255);

    &__submit {
      display: flex;
      align-items: center; // This centers the text vertically
      justify-content: center; // This centers the text horizontally
      cursor: pointer;
      position: relative;
      left: 10%;
      //bottom: 0%;
      width: 35%;
      height: 78%;
      //padding: 12px 40px;
      //margin: 0px 10px 10px 0px;
      //float: left;
      border-radius: 3px;
      font-size: 18px;
      color: #fff;
      text-decoration: none;
      background-color: #009f58;
      border: none;
      border-bottom: 5px solid #00693a;
      text-shadow: 0px -2px #266540;
      -webkit-transition: all 0.1s;
      transition: all 0.1s;
    }

    &__submit:hover {
      background-color: #00b463;
    }

    &__submit:active {
      -webkit-transform: translate(0px, 5px);
      -ms-transform: translate(0px, 5px);
      transform: translate(0px, 5px);
      border-bottom: 1px solid #00693a;
    }

    &__clear {
      display: flex;
      align-items: center; // This centers the text vertically
      justify-content: center; // This centers the text horizontally
      cursor: pointer;
      position: relative;
      left: 20%;
      //bottom: 0%;
      width: 35%;
      height: 78%;
      //padding: 12px 40px;
      //margin: 0px 10px 10px 0px;
      //float: left;
      border-radius: 3px;
      font-size: 18px;
      color: #fff;
      text-decoration: none;
      background-color: #e50000;
      border: none;
      border-bottom: 5px solid #690000;
      text-shadow: 0px -2px #652626;
      -webkit-transition: all 0.1s;
      transition: all 0.1s;
    }

    &__clear:hover {
      background-color: #ff3e3e;
    }

    &__clear:active {
      -webkit-transform: translate(0px, 5px);
      -ms-transform: translate(0px, 5px);
      transform: translate(0px, 5px);
      border-bottom: 1px solid #00693a;
    }
  }
}
