.component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 7px solid rgb(56, 69, 146); 
    border-radius: 8%;
    border-style: double;
  
    .reset-password {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    padding-bottom: 55px;
    font-size: 1.3em;
  
    .img {
      background-image: url(/src/assets/images/logo.ico);
      background-size: cover;
      background-position: center;
      height: 110px;
      width: 110px;
      text-align: center;
      padding: 0;
      position: relative;
      top: -35px;
      left: +70px;
      display: block;
      margin-bottom: -20px; // Space between the image and the text fields
      font-size: 1.3em;
    }

    .text-between {
      margin: 0 0 0 -5px; // Adjust this value as needed for spacing
      padding: 0 0 10px 5px;
      text-align: justify center;
      color: #000; // Change as needed
      font-size: 0.7em; // Adjust font-size as needed
    }

    .email-field{
      position: relative; 
  
    .email-icon {
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(92%);
      color: rgb(110, 121, 187);
      pointer-events: none; // Prevent the icon from interfering with clicking on the input
    }
    }
  
    .email-icon.active {
    color: #ffffff; // This is the color for when there is input in the fields
    }
  
    input[type="email"] {
      opacity: 1;
      display: block;
      border: none;
      outline: none;
      width: 100%;
      padding: 10px 31px;
      margin: 10px 0 0 0;
      font-size: 0.8em;
      border-radius: 150px;
      background: #3c3c3c;
      color: #ffffff;
      box-sizing: border-box; 
    }
  
    input[type="email"]::placeholder {
      color: rgb(110, 121, 187); 
    }
  
    input[type="email"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  
    input:focus {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
     }
  
    input[type="submit"] {
      position: absolute;
      bottom: 12px;
      left: 42px;
      width: 75%;
      padding: 16px !important;
      margin: 43px 0 0 0;
      border-radius: 30px;
      font-weight: 600;
      background: linear-gradient(144deg, #000000, rgb(88, 71, 197) 50%, #000000);
      color: #fff;
      border: 3px solid #000000;
    }
    
    input[type="submit"]:hover {
      background: linear-gradient(144deg, #000000, rgb(114, 93, 255) 50%, #000000);
      cursor: pointer;
      transition: all 0.4s ease;
    }
  
    input[type="submit"]:active{
      background: linear-gradient(164deg, #000000, rgb(114, 93, 255) 50%, #000000);
      transition: all 0.4s ease;
    }
    
    }
  
  }