.dispatchers_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: white;

    @media (pointer: coarse) {
      width: 100%;
      margin-top: 72px
    }
  
    &__loader-box {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
  
    &__header{
      display: flex;
      flex-direction: row;
      width: 100%;  
      background-color: white;
      align-items: center;
      justify-content: center;
  
    &__level-filter{
      padding: 0 0px;
    }
  
      &__user-filter{
        padding: 0 0px;
    }
  
  }
  
    &__footer{
      background-color: white;
      width: 100%;
      height: 70px;
      top: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    
  
    &__active{
     color: #006336;
     background-color: #97ffd0;
     width:fit-content;
     padding:0 5px;
     border: 2px solid #006336;
     border-radius: 10px;
    }
    
    &__locked{
     color: #8d0404;
     background-color: #ffb2b2;
     width:fit-content;
     padding:0 5px;
     border: 2px solid #c40000;
     border-radius: 10px;
    }

    &__online{
     color: #006336;
     background-color: #97ffd0;
     width:fit-content;
     padding:0 5px;
     border: 2px solid #006336;
     border-radius: 10px;
    }
       
    &__offline{
     color: #303030;
     background-color: #dddcdc;
     width:fit-content;
     padding:0 5px;
     border: 2px solid #303030;
     border-radius: 10px;
    }
  
      
  }