.layout1 {
  min-height: 100vh;

  display: flex;
}

.section1 {
  min-height: 100vh; 
  
  position: relative;
  transition: margin-left 0.5s ease;

  margin-left: 78px; 
  /* padding-left: 23px; */
  
  flex-grow: 1; 
  z-index: 2; 
  background-color: white;
}

/*.section1.shrank{}*/
.sidebar.open ~ .section1 {
  margin-left: 250px; 
}

.section1-mobile{
  min-height: 100vh; 

  /* margin-top: 66px; */
  position: relative;
  transition: margin-left 0.5s ease;
 
  flex-grow: 1; 
  z-index: 2; 
  background-color: white;
}