.layout1 {
  min-height: 100vh;

  display: flex;
}

.section1 {
  min-height: 100vh; 
  
  position: relative;
  transition: margin-left 0.5s ease;

  margin-left: 78px; 
  /* padding-left: 23px; */
  
  flex-grow: 1; 
  z-index: 2; 
  background-color: rgb(235, 255, 241);
}

/*.section1.shrank{}*/
.sidebar.open ~ .section1 {
  margin-left: 250px; 
}  